.tableContainer {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 500px;
}
.mainTable {
  position: relative;
  width: 100%;
  min-width: 1280px;

  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.mainTable td,
.mainTable tr {
  border: 0.4px solid #ddd;
  padding: 8px;
  text-align: center;
}

.mainTable th,
.mainTable td {
  border: 0.4px solid #ddd;
  background: #fff;
  vertical-align: top;

  overflow: hidden;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
}

.mainTable thead th {
  background: #35304a;
  font-family: Montserrat-Medium;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mainTable th {
  position: sticky;
  top: 0;
  min-width: 4.5rem;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 500;
  background-color: #d0caca;
  color: black;
  text-align: center;
  width: 10rem;
}
.mainTable th.nameHeader {
  position: sticky;
  top: 0;
  min-width: 10rem;
  max-width: 30rem;

  color: white;
  text-align: center;
}

.mainTable tbody tr td:first-child {
  position: sticky;

  left: 0;
  overflow-y: hidden;
  background-color: #fff;
  text-align: left;
  outline: 1px solid #fff;
}
.mainTable thead th:first-child {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #35304a;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

td.presente {
  background: url("../public/presente.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: lightgreen;
}

td.tarde {
  background: url("../public/tarde.svg");
  background-position: center;
  background-repeat: no-repeat;
}

td.ausenteconaviso {
  background: url("../public/ausente.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: red;
  stroke: red;
}
td.ausentesinaviso {
  background: url("../public/ausente-sa.svg");
  background-position: center;
  background-repeat: no-repeat;
}

td.retiro {
  background: url("../public/retiro.svg");
  background-position: center;
  background-repeat: no-repeat;
}
td.cumpleaños {
  background: url("../public/cumpleanos.svg");
  background-position: center;
  background-repeat: no-repeat;
}
td.vacaciones {
  background: url("../public/vacaciones.svg");
  background-position: center;
  background-repeat: no-repeat;
}

span.ausenteconaviso {
  display: inline-block;
  background: url("../public/ausente-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.ausentesinaviso {
  display: inline-block;
  background: url("../public/ausente-sa-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.tarde {
  display: inline-block;
  background: url("../public/tarde-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.retiro {
  display: inline-block;
  background: url("../public/retiro-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.vacaciones {
  display: inline-block;
  background: url("../public/vacaciones-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.cumpleanos {
  display: inline-block;
  background: url("../public/cumpleanos-sm.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}
span.referencias {
  font-size: small;
  margin-right: 8.5px;
}
